#header{
	position: fixed;
	width: 100%;
	z-index: 9999;
	padding: 10px 40px;
	height: 120px;
	transition: .5s;
	background: rgba(0,0,0,.5);
}
.header-fixed{
	background: rgba(100,100,100,.8) !important;
	transition: .5s;
	height: 80px !important;
}
#logo-header{
	float: left;
	vertical-align: middle;
}
.logo-header-width{
	width: 100px !important;
	transition: .5s;
}
#logo-header img{
	width: 150px;
	transition: .5s;
}
#menu-head{
	float: right;
}
#menu-head nav{
	margin-top: 30px;
	transition: .4s;
}
.menu-head-top{
	margin-top: 5px !important;
	transition: .4s;
}
#menu-head nav ul{
	list-style: none;
	padding-left: 0;
	text-align: center;
}
#menu-head nav ul li{
	display: inline-block;
	margin: 10px;
}
#menu-head nav ul li:hover a{
	opacity: .5;
	transition: 1s;
}
#menu-head nav ul li a{
	text-decoration: none;
	color: white;
	font-weight: 100;
	font-size: 17px;
	height: 100%;
	transition: 1s;
}
#menu-head nav ul li:last-child a{
	color: black;
	font-weight: 500;
	padding: 10px;
	background: white;
	border-radius: 50px;
}
.pre-footer{
	background: #3f3f3f;
	padding: 20px;
}
.pre-footer img{
	width: 200px;
}

.pre-footer .inf{
	list-style: none;
	display: block;
	text-align: left;
}
.pre-footer .inf li {
margin-top: 5px;}
.pre-footer .inf li i, .pre-footer .inf li p{
display: inline-block;
color: gray;
}
.pre-footer .inf li p a{
	text-decoration: none;
}


.pre-footer .redes{
list-style: none;
padding-left: 0;
text-align: center;
}
.pre-footer .redes li{
	display: inline-block;
	margin-right: 2em;
	margin-left: 2em;
	margin-top: 2em;
}
.pre-footer .redes li a{
	text-decoration: none;
	color: gray;
	transition: .5s;
}
.pre-footer .redes li a:hover{
	text-decoration: none;
	color: white;
	transition: .5s;
}
footer{
	text-align: center;
	
	padding: 10px;
	background: #3f3f3f;
}
footer p{
	font-weight: 100;
	font-size: 13px;
	width: 60%;
	font-style: italic;
	color: gray;
	margin: auto;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sqbjjz');
  src:  url('fonts/icomoon.eot?sqbjjz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sqbjjz') format('truetype'),
    url('fonts/icomoon.woff?sqbjjz') format('woff'),
    url('fonts/icomoon.svg?sqbjjz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
  content: "\ea8b";
  	font-size: 30px;
}
.icon-facebook:before {
  content: "\ea90";
    font-size: 22px;
}
.icon-instagram:before {
  content: "\ea92";
    font-size: 23px;
}
.icon-twitter:before {
  content: "\ea96";
  font-size: 26px;
}

