@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,700');

body{
	font-family: 'Raleway', sans-serif;
}

#video-home{
position: relative;
max-height: 650px;
overflow: hidden;
padding: 0;
margin: 0;

}
#video-home .overlay-video{
	background: black;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .7;
	z-index: 99;
}
#video-home video{
	height: 100%;
}
@media screen and (min-width: 1280px){
	#video-home video{
		width: 100%;
	}
}

#video-home .bienvenido{
	position: absolute;
	top: 20%;
	text-align: center;
	z-index: 999;
	margin: auto;
}
#video-home .bienvenido img{
	width: 70%;
	margin: auto;
}
#text{
	margin-top: 2em;
}
#text h2{
	font-weight: 700;
	margin-bottom: 1em;
}
#text p{
	font-size: 17px;
}
.space-hr{
	margin-top: 2em;
	margin-bottom: 2em;
}
.text-content p{
	line-height: 30px;
	font-weight: 100;
	font-size: 15px;
}
.slide {
  position: relative;
  /*min-height: 47vh;*/
  width: 100%;
  box-sizing: border-box;
  transform-style: inherit;
}
.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}
.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}
.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}
.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}
.slide, .slide:before {
  background: 50% 50% / cover;  
}
#title {
   background-image: url("../img/dominicales.jpg");
   background-attachment: fixed;  
   margin-top: 5em;
}
#title h1{
	color: white;
	font-weight: 800;
	margin-top: 1em;
	font-size: 50px;
}
#title ul{
	list-style: none;
	padding-left: 0;
	text-align: center;
}
#title ul li{
	display: inline-block;
	margin: 1.7em;
}
#title ul li h2 span{
	font-style: italic;
	font-weight: 100;
}
#title ul li h2{
	color: white;
	font-weight: 800;
}
.fecha-content span{
	vertical-align: middle;
}
.day-number{
	font-size: 70px;
	font-weight: 800;
}
.month{
	font-size: 20px;
}
.title-event{
color: #0194ca;}

.bg-iglesia{
	background: black;
	background-image: url(../img/iglesia.jpg);
	background-size: cover;
	background-position: center;
	height: 540px;
	background-repeat: no-repeat;
	background-attachment: scroll;
}
.bg-gray{
	background: #3f3f3f;
	padding-top: 30px;
	padding-bottom: 50px;
	height: 540px;
	padding-left: 80px;
}
.bg-gray h2{
	color: white;
	font-weight: 800;
}
.bg-gray p{
	color: white;
	font-size: 17px;
	font-weight: 100;
	margin-top: 2em;
}
.posts a{
	text-decoration: none;
}
#title2 {
   background-image: url("../img/visitanos2.jpg");
   background-attachment: fixed;  
   margin-top: 5em;
}
#title2 h2{
	color: white;
	font-weight: 800;
	margin-top: 2em;
}
#title2 p{
	font-size: 50px;
	font-weight: 800;
	color: white;
}
#title2 .p2{
	color: white;
	font-size: 25px;
	font-weight: 100;
	margin-bottom: 2em;
}
@media screen and (max-width: 1025px){
	#title2 h2{
		color: white;
		font-weight: 800;
		margin-top: 10.5%;
	}
}
@media screen and (max-width: 769px){

	#video-home{
	position: relative;
	max-height: 450px;
	overflow: hidden;
	padding: 0;
	margin: 0;

	}
	#video-home .bienvenido{
		position: absolute;
		top: 20%;
		width: 100%;
		text-align: center;
		z-index: 999;
	}
	#video-home .bienvenido img{
		width: 60%;
	}
	.bg-gray{
		padding-left: 25px;
		text-align: justify;
	}

}
@media screen and (max-width: 736px){
	#event h2, #event p{
		text-align: center !important;
	}
}
@media screen and (max-width: 415px){
	#video-home .bienvenido{
		top: 33%;
	}
	#title2 p{
		font-size: initial;
	}
}
@media screen and (max-width: 321px){
	.bg-gray{
		height: 620px;
	}
}